<div class="p-3">
  <div class="card">
    <div class="card-body">
    <div class="card-body">
      <div>
      <h3>Search Product</h3>
          <input class="p-1" type="text" [(ngModel)]="keyword" placeholder="Search Product">
          <button (click)="searchProducts()"
                  class="btn btn-outline-info m-2"><i class="bi bi-search"></i>
          </button>
    </div>
    </div>
      <h3>Products List</h3>

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>  <th>Price</th>  <th>Checked</th>
        </tr>
        </thead>

        <tbody>

        <tr *ngFor="let product of products"> <!-- utiliser ce pipe puis async donc automatiquement mon front end fait un subscribe -->
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>

            <button (click)="handleCheckProduct(product)" class="btn btn-outline-danger">
              <i [class] = "product.checked? 'bi bi-check ': 'bi bi-square'"></i>
            </button>
          </td>
          <td>
            <button (click)="deleteHandle(product)" class="btn btn-outline-info" >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let p of [].constructor(this.totalPages); let i=index" class="nav-item">
          <button (click)="handlePages(i+1)"
                  [ngClass]="currentPage== i+1 ? 'btn btn-info m-1' : 'btn btn-outline-dark m-1'"
                  class="btn btn-outline-dark m-1">
        {{(i+1)}}
      </button>
      </ul>
    </div>
  </div>

</div>
